[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/var/lib/jenkins/workspace/cicdDjango/devopedjango
ExecStart=/var/lib/jenkins/workspace/cicdDjango/env/bin/gunicorn \
          --error-logfile /var/lib/jenkins/workspace/cicdDjango/error.log \
          --workers 3 \
          --capture-output --log-level debug \
          --bind unix:/run/gunicorn.sock \
          devopedjango.wsgi:application

[Install]
WantedBy=multi-user.target